/* Brand @font-face — loaded by loadFonts() after first paint (never in head.html).
   All three families are free/OFL (Playfair Display, Montserrat, Poppins).
   Montserrat substitutes the licensed Wix body faces (Brandon Grotesque/Avenir);
   the brand family names stay first in the stacks in styles.css. */

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/playfair-display-variable.woff2") format("woff2");
}

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/montserrat-variable.woff2") format("woff2");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/poppins-600.woff2") format("woff2");
}
